<app-modal idName="exampleModal" (addRoleEvent)="onAddRole($event)"></app-modal>

<div class="tab-pane fade show active" role="tabpanel" [id]="identity" [attr.aria-labelledby]="identity + '-tab'">
  <div class="row">
    <ng-container *ngIf="length > 0; else nullRoles">
    
    <div class="col">
      <app-table
        [header]="['Role', 'Role En', 'Unit', 'UnitEn', 'Action']"
        [data]="data"
      >
        <ng-template #rowTemplate let-item let-index="index">
          <tr>
            <td>
              {{ getRole(item) }}
            </td>
            <td>
              {{ item.title.nameEn }}
            </td>
            <td>
              {{ item.unit.name }}
            </td>
            <td>
              {{ item.unit.nameEn }}
            </td>
            <td>
              <button type="button" class="btn" [ngClass]="{'bg-danger': action == 'Delete', 'bg-info': action == 'Restore'}" data-coreui-toggle="modal" data-coreui-target="#roleDelete" (click)="selectItem(item)">
                {{ action }}
              </button>
            </td>
          </tr>
        </ng-template>
      </app-table>
    </div>

    </ng-container>

    <ng-template #nullRoles>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>

      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
          There are no roles
        </div>
      </div>
    </ng-template>
  </div>
</div>

<!-- <app-modal id="roleDelete">
</app-modal> -->

<div class="modal" id="roleDelete" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Role {{ action }}</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You are about to {{ action | lowercase }} the role {{ selected?.title.nameEn }} in the unit {{ selected?.unit.nameEn }}. Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"   id="liveToastBtn" data-coreui-dismiss="modal" (click)="deleteAccept()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toastSuccess" #toastSuccess class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-black">
      <strong class="me-auto">Action "{{ action | lowercase }}" succesfull</strong>
      <button type="button" class="btn-close" data-coreui-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Role {{ selected?.title.nameEn }} in unit {{ selected?.unit.nameEn }} was modified
    </div>
  </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="toastFail" #toastFail class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger text-white">
      <strong class="me-auto">Action "{{ action | lowercase }}" failed</strong>
      <button type="button" class="btn-close" data-coreui-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Role {{ selected?.title.nameEn }} in unit {{ selected?.unit.nameEn }} deleted
    </div>
  </div>
</div>