<div class="table-responsive" [ngStyle]="{'height': mySmall ? '60vh' : 'auto'}">
  <table class="table overflow-scroll" [ngClass]="tableClass">
    <thead [ngClass]="headerClass">
      <tr>
        <th *ngFor="let attribute of header">
          {{ attribute }}
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of data; let i = index"
        [ngTemplateOutlet]="rowRef"
        [ngTemplateOutletContext]="{ $implicit: item, index: i }">
      </ng-container>
    </tbody>
  </table>
</div>
