<ul class="nav nav-tabs" id="tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" type="button" aria-selected=true data-coreui-toggle="tab" id="roles-tab" data-coreui-target="#roles" aria-controls="roles" (click)="first = true"
      >Roles <span class="badge rounded-pill bg-info">{{ rolesLength }}</span></button
    >
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" type="button" aria-selected=false data-coreui-toggle="tab" id="rolesExpired-tab" data-coreui-target="#rolesExpired" aria-controls="rolesExpired" (click)="first = false"
      >Expired Roles <span class="badge rounded-pill bg-info">{{ rolesExpiredLength }}</span></button
    >
  </li>
</ul>
<div class="tab-content mt-2" id="tabContent">
  <app-tab-content *ngIf="first"  [apmId]="apmId" [isMale]="isMale" (addSuccess)="reloadEvent.emit('')" (deleteSuccess)="reloadEvent.emit('')" action="Delete"  identity="roles" [data]="roles">
  </app-tab-content>
  <app-tab-content *ngIf="!first" [apmId]="apmId" [isMale]="isMale" (deleteSuccess)="reloadEvent.emit('')" action="Restore" identity="rolesExpired" [data]="roles_expired"></app-tab-content>
</div>
