<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/roles-128.png" alt="" width="25" height="25" class="d-inline align-center">
      roles<span style="color: #ffc600;">.auth</span>
      | <span class="navbar-text" style="font-size: small;">Κέντρο Ηλεκτρονικής Διακυβέρνυσης ΑΠΘ</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav"></div>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="#">Οδηγός Χρήσης</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Έξοδος</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
