<button type="button" class="btn btn-success" data-coreui-toggle="modal" [attr.data-coreui-target]="'#' + id">
  Add a role
</button>

<div class="modal fade" [id]="id" tabindex="-1" [attr.aria-labelledby]="id + 'Label'" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="id + 'Label'">Add a role</h5>
        <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="wrongSelection" class="callout callout-danger">
          Please select a {{ wrongSelection }}.
        </div>
        <label for="unitSelect" class="col-1 col-form-label">Unit</label>
        <div [formGroup]="group">
          <select id="unitSelect" class="form-select" formControlName="selectedUnit">
            <option [ngValue]="null"></option>
            <option *ngFor="let unit of units" [ngValue]="unit">
              {{ unit?.name }}
            </option>
          </select>
          <label for="titleSelect" class="col-1 col-form-label">Title</label>
          <select id="titleSelect" class="form-select" formControlName="selectedTitle">
            <option [ngValue]="null"></option>
            <option *ngFor="let title of titles" [ngValue]="title">
              {{ title?.nameEn }} | {{ title?.id }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" #closeButton class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onSaveChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>
