<div class="container-lg">
  <div class="card mt-1">
    <div class="card-header bg-dark bg-gradient" style="color: #ffc600">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">{{ apmId }}</h5>
        <small *ngIf="staff">
          updated at {{ staff?.lastUpdated | date:'y/MM/dd HH:mm:SS' }}
        </small>
      </div>
    </div>
    <div class="card-body">

      <div *ngIf="staff; else nullStaff">
        <h5 class="card-title">{{ staff?.first }} {{ staff?.last }}</h5>
        <h6 class="card-subtitle text-muted">
          {{ staff?.firstEn }} {{ staff?.lastEn }}
        </h6>
        <div class="container-auto mt-4">
          <div class="row">
            <div class="col-4">
              <app-table
                tableClass="table-striped"
                headerClass="position-sticky top-0 bg-secondary"
                [mySmall]="true"
                [header]="['Attribute name', 'Attribute value']"
                [data]="staff | notInList | keyvalue"
              >
                <ng-template #rowTemplate let-item let-index="index">
                  <tr>
                    <th scope="row">
                      {{ item.key }}
                    </th>
                    <td>
                      <ng-container *ngIf="item.value; else nullValue">
                        {{ item.value }}
                      </ng-container>
                      <ng-template #nullValue> null </ng-template>
                    </td>
                  </tr>
                </ng-template>
              </app-table>
            </div>
            <div class="col">
              <app-roles-tabs (reloadEvent)="reload()" [isMale]="staff?.gender == 'M'" [roles]="roles" [roles_expired]="roles_expired" [apmId]="apmId!">
              </app-roles-tabs>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nullStaff>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>

        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            No personel was found with apmid {{ apmId }}
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
