<div [formGroup]="group">
  <div class="row mt-1">
    <label for="searchKeyword" class="col-1 col-form-label">Name</label>
    <div class="col-11">
      <input class="form-control" id="searchKeyword" type="text" placeholder="search..." formControlName="searchKeyword">
    </div>
  </div>
  <div class="row mt-1">
    <label for="unitSelect" class="col-1 col-form-label">Unit</label>
    <div class="col-11">
      <select id="unitSelect" class="form-select" formControlName="selectedUnit">
        <option [ngValue]="null"></option>
        <option *ngFor="let unit of units" [ngValue]="unit">
          {{ unit?.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-1">
    <label for="titleSelect" class="col-1 col-form-label">Title</label>
    <div class="col-11">
      <select id="titleSelect" class="form-select" formControlName="selectedTitle">
        <option [ngValue]="null"></option>
        <option *ngFor="let title of titles" [ngValue]="title">
          {{ title?.nameEn }} | {{ title?.id }}
        </option>
      </select>
    </div>
  </div>
  <div class="row mt-2 justify-content-end" *ngIf="formArray.length > 0">
    <label for="titleArray" class="col-1 col-form-label">
      <button class="btn btn-primary" (click)="onClear()">Clear</button>
    </label>
    <div class="col-11">
      <ul class="list-group" formArrayName="formArray" id="titleArray">
        <li class="list-group-item" *ngFor="let form of formArray.controls; let i=index;">
          <input class="form-check-input" type="checkbox" [formArrayName]="i" (change)="checkBoxChange($event, i)" checked>
          {{ form.value.nameEn }}
          <button type="button" class="btn-close" aria-label="Close" (click)="removeTitleForm(i)"></button>
        </li>
      </ul>
    </div>
  </div>
</div>