<div class="container">
  <app-dropdown (formEvent)="onFormChange($event)"></app-dropdown>
  <app-table
    tableClass="table-sm align-middle table-hover"
    [data]="result"
    [header]="['#', 'First', 'Last', 'First En', 'Last En', 'Roles']"
  >
    <ng-template #rowTemplate let-item let-index="index">
      <tr>
        <td class="pointer" (click)="onRowClick(item)" scope="row">{{ index + 1 }}</td>
        <td class="pointer" (click)="onRowClick(item)">{{ item.first }}</td>
        <td class="pointer" (click)="onRowClick(item)">{{ item.last }}</td>
        <td class="pointer" (click)="onRowClick(item)">{{ item.firstEn }}</td>
        <td class="pointer" (click)="onRowClick(item)">{{ item.lastEn }}</td>
        <td>
          <app-roles-accordion
            [id]="item.apmId"
            [data]="item?.roles"
            [header]="['Unit', 'Role']"
          >
            <ng-template #bodyTemplate let-item>
              <tr>
                <td>{{ item?.unit?.nameEn }}</td>
                <td>{{ item?.role }}</td>
              </tr>
            </ng-template>
          </app-roles-accordion>
        </td>
      </tr>
    </ng-template>
  </app-table>
</div>
