<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" [id]="'heading' + id">
      <button class="accordion-button collapsed" type="button" data-coreui-toggle="collapse" [attr.data-coreui-target]="'#collapse' + id" aria-expanded="false" [attr.aria-controls]="'collapse' + id">
        Number of roles <span class="badge bg-secondary ms-1">{{ data?.length }}</span>
      </button>
    </h2>
    <div [id]="'collapse' + id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + id" [attr.data-coreui-parent]="'#accordionExample' + id">
      <div class="accordion-body">
        <app-table
          [data]="data"
          [header]="header"
        >
          <ng-template #rowTemplate let-item let-index="index">
            <ng-container
              [ngTemplateOutlet]="bodyRef"
              [ngTemplateOutletContext]="{ $implicit: item, index: index }">
            </ng-container>
          </ng-template>
        </app-table>
      </div>
    </div>
  </div>
</div>